@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --orange:#F9E691;
    --black-color:#111;
    --white-color:#fff;
    --dark-color:rgba(0,0,0,.3);
    --border: .1rem solid rgb(255,255,255);
    --primary: #FAEFB1;
    --secundary: #B92C19;
    --black: #13131a;
    --bg: #010103;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:.2s linear;
}

body {
    background-color: var(--bg);
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--white-color);
    padding: 1rem 5%;
}

/* LOGO - TXT */
header .logo{
    color:var(--white-color);
    font-size: 2rem;
}
header .logo span{
    font-weight: bold;
    color:var(--orange);
}

/* BTN - mudar tema */
header .icons div {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    background: var(--white-color);
    color: var(--black-color);
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    margin-right: .7rem;
}
header .icons div h1{
    color: var(--white-color);
}
header .icons div:hover {
    background-color: var(--orange);
    transform: scale(1.1);
}

/* MAIN - POSTS */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 50px;
}

/* POST */
section {
    width: 470px;
    border-radius: 10px;
    background-color: var(--white-color);
    border: 1px solid var(--white-color);
}
.info {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
}
.info .username {
    width: auto;
    font-weight: bold;
    color: var(--bg);   
    font-size: 14px;
    margin-left: 10px;
}
.info .user {
    display: flex;
    align-items: center;
}
.info .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.info .profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--black-color);
}

/* POSTAGEM - imagem */
.post-img {
    width: 100%;
    object-fit: cover;
}

/* ADICIONAR - comentário */
.post-comment form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 1px solid var(--white-color);
}
.post-comment .icon {
    height: 20px;
}

.post-comment form input {
    width: 80%;
    font-size: 14px;
}

.post-comment form label {
    text-transform: capitalize;
    color: rgb(0, 162, 255);
    cursor: pointer;
}

/* https://www.youtube.com/watch?v=f9fqiNM30ik */
